[package]
name = "opentelemetry-otlp"
version = "0.6.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Exporter for the OpenTelemetry Collector"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-otlp"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-otlp"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "otlp", "logging", "tracing", "metrics"]
license = "Apache-2.0"
edition = "2018"
build = "build.rs"
autotests = false

[lib]
doctest = false

[[test]]
name = "smoke"
path = "tests/smoke.rs"
required-features = ["integration-testing"]

[[test]]
name = "grpc_build"
path = "tests/grpc_build.rs"
required-features = ["grpc-sys"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
grpcio = { version = "0.7", optional = true }
opentelemetry = { version = "0.13", default-features = false, features = ["trace"], path = "../opentelemetry" }
prost = { version = "0.7", optional = true }
protobuf = { version = "2.18", optional = true }
thiserror = "1.0"
tonic = { version = "0.4", optional = true }
tokio = { version = "1.0", features = ["full"], optional = true }
opentelemetry-http = { version = "0.2", path = "../opentelemetry-http", optional = true }
reqwest = { version = "0.11", optional = true, default-features = false }
surf = { version = "2.0", optional = true, default-features = false }
http = "0.2"

[dev-dependencies]
chrono = "0.4"
tokio-stream = { version = "0.1", features = ["net"] }
protobuf-codegen = { version = "2.16"}
protoc-grpcio = { version = "2.0"}

[features]
trace = ["opentelemetry/trace"]
metrics = ["opentelemetry/metrics", "default"]

default = ["tonic", "tonic-build", "prost", "tokio"]
tls = ["tonic/tls"]
tls-roots = ["tls", "tonic/tls-roots"]

grpc-sys = ["grpcio", "protobuf"]
openssl = ["grpcio/openssl"]
openssl-vendored = ["grpcio/openssl-vendored"]
integration-testing = ["tonic", "tonic-build", "prost", "tokio/full", "opentelemetry/trace"]

http-proto = ["prost-build", "prost", "opentelemetry-http"]
reqwest-blocking-client = ["reqwest/blocking", "opentelemetry-http/reqwest"]
reqwest-client = ["reqwest", "opentelemetry-http/reqwest"]
reqwest-rustls = ["reqwest", "reqwest/rustls-tls-native-roots"]
surf-client = ["surf", "opentelemetry-http/surf"]

[build-dependencies]
tonic-build = { version = "0.4", optional = true }
prost-build = {version = "0.7", optional = true }
