[package]
name = "opentelemetry-otlp"
version = "0.4.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Exporter for the OpenTelemetry Collector"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-otlp"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-otlp"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "otlp", "logging", "tracing", "metrics"]
license = "Apache-2.0"
edition = "2018"
build = "build.rs"
autotests = false

[lib]
doctest = false

[[test]]
name = "smoke"
path = "tests/smoke.rs"
required-features = ["integration-testing"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
async-trait = "0.1"
futures = "0.3"
grpcio = { version = "0.7", optional = true }
opentelemetry = { version = "0.11", default-features = false, features = ["trace"], path = "../opentelemetry" }
prost = { version = "0.6", optional = true }
protobuf = { version = "2.18", optional = true }
thiserror = "1.0"
tonic = { package = "tonic", version = "0.3", optional = true }
tokio = { version = "0.2", features = ["full"], optional = true }

[dev-dependencies]
chrono = "0.4"

[features]
async = ["default"]
trace = ["opentelemetry/trace"]
metrics = ["opentelemetry/metrics"]
default = ["tonic", "tonic-build", "prost", "tokio"]
grpc-sys = ["grpcio", "protobuf", "protobuf-codegen", "protoc-grpcio"]
tls = ["tonic/tls"]
tls-roots = ["tls", "tonic/tls-roots"]
openssl = ["grpcio/openssl"]
openssl-vendored = ["grpcio/openssl-vendored"]
integration-testing = ["tonic", "tonic-build", "prost", "tokio/full", "opentelemetry/trace"]

[build-dependencies]
protobuf-codegen = { version = "2.16", optional = true }
protoc-grpcio = { version = "2.0", optional = true }
tonic-build = { version = "0.3", optional = true }
