[package]
name = "opentelemetry-prometheus"
version = "0.13.0"
description = "Prometheus exporter for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust"
repository = "https://github.com/open-telemetry/opentelemetry-rust"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "prometheus", "metrics", "async"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.60"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
once_cell = "1.17"
opentelemetry_api = { version = "0.20", path = "../opentelemetry-api", default-features = false, features = ["metrics"] }
opentelemetry_sdk = { version = "0.20", path = "../opentelemetry-sdk", default-features = false, features = ["metrics"] }
prometheus = "0.13"
protobuf = "2.14"

[dev-dependencies]
opentelemetry-semantic-conventions = { path = "../opentelemetry-semantic-conventions" }
hyper = { version = "0.14", features = ["full"] }
tokio = { version = "1", features = ["full"] }

[features]
prometheus-encoding = []
