[package]
name = "opentelemetry-prometheus"
version = "0.15.0"
description = "Prometheus exporter for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust"
repository = "https://github.com/open-telemetry/opentelemetry-rust"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "prometheus", "metrics", "async"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.65"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
once_cell = { workspace = true }
opentelemetry = { version = "0.22", path = "../opentelemetry", default-features = false, features = ["metrics"] }
opentelemetry_sdk = { version = "0.22", path = "../opentelemetry-sdk", default-features = false, features = ["metrics"] }
prometheus = "0.13"
protobuf = "3.4"

[dev-dependencies]
opentelemetry-semantic-conventions = { path = "../opentelemetry-semantic-conventions" }
hyper = { workspace = true, features = ["full"] }
tokio = { workspace = true, features = ["full"] }

[features]
prometheus-encoding = []
