[package]
name = "opentelemetry-proto"
version = "0.2.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Protobuf generated files and transmationes"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-proto"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-proto"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "otlp", "logging", "tracing", "metrics"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.60"
autotests = false

[lib]
doctest = false

[[test]]
name = "grpc_build"
path = "tests/grpc_build.rs"

[features]
default = []

full = ["gen-tonic", "gen-protoc", "traces", "logs", "metrics", "zpages",  "with-serde"]

# crates used to generate rs files
gen-tonic = ["tonic", "prost"]
gen-protoc = ["grpcio", "protobuf"]

# telemetry pillars and functions
traces = []
metrics = []
logs = []
zpages = ["traces"]

# add ons
with-serde = ["protobuf/with-serde", "serde", "serde_json"]

[dependencies]
grpcio = { version = "0.12", optional = true }
tonic = { version = "0.8", optional = true }
prost = { version = "0.11", optional = true }
protobuf = { version = "2.18", optional = true } # todo: update to 3.0 so we have docs for generated types.
opentelemetry = { version = "0.19", default-features = false, features = ["trace", "metrics"], path = "../opentelemetry" }
futures = { version = "0.3", default-features = false, features = ["std"] }
futures-util = { version = "0.3", default-features = false, features = ["std"] }
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }

[dev-dependencies]
protobuf-codegen = "2.16"
protoc-grpcio = "3.0"
tonic-build = "0.8"
prost-build = "0.11"
tempfile = "3.3.0"
