[package]
name = "opentelemetry-proto"
version = "0.31.0"
description = "Protobuf generated files and transformations."
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-proto"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-proto"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "otlp", "logging", "tracing", "metrics"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.75.0"
autotests = false
autobenches = false

[lib]
doctest = false
bench = false

[[test]]
name = "grpc_build"
path = "tests/grpc_build.rs"

[[test]]
name = "json_serde"
path = "tests/json_serde.rs"


[features]
default = []
full = ["gen-tonic", "trace", "logs", "metrics", "zpages", "with-serde", "internal-logs", "with-sdk"]

# crates used to generate rs files
gen-tonic = ["gen-tonic-messages", "tonic/channel"]
gen-tonic-messages = ["tonic", "tonic-prost", "prost"]

# telemetry pillars and functions - just enable proto generation
trace = []
metrics = []
logs = []
zpages = ["trace"]
profiles = []
testing = []

# SDK integration - enables transform logic
with-sdk = ["opentelemetry_sdk", "opentelemetry"]
with-sdk-trace = ["with-sdk", "trace", "opentelemetry/trace", "opentelemetry_sdk/trace"]
with-sdk-metrics = ["with-sdk", "metrics", "opentelemetry/metrics", "opentelemetry_sdk/metrics"]
with-sdk-logs = ["with-sdk", "logs", "opentelemetry/logs", "opentelemetry_sdk/logs"]

# add ons
internal-logs = []
with-schemars = ["schemars"]
with-serde = ["serde", "const-hex", "base64"]

[dependencies]
tonic = { workspace = true, optional = true, features = ["codegen"] }
tonic-prost = { workspace = true, optional = true }
prost = { workspace = true, optional = true }
opentelemetry = { workspace = true, optional = true, default-features = false }
opentelemetry_sdk = { workspace = true, optional = true, default-features = false }
schemars = { workspace = true, optional = true }
serde = { workspace = true, optional = true, features = ["serde_derive", "std"] }
const-hex = { workspace = true, optional = true }
base64 = { workspace = true, optional = true }

[dev-dependencies]
opentelemetry = { workspace = true, features = ["testing"] }
tonic-prost-build = { workspace = true }
tempfile = { workspace = true }
serde_json = { workspace = true }

[lints]
workspace = true
