[package]
name = "opentelemetry-proto"
version = "0.3.0"
description = "Protobuf generated files and transformations."
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-proto"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-proto"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "otlp", "logging", "tracing", "metrics"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.64"
autotests = false

[lib]
doctest = false

[[test]]
name = "grpc_build"
path = "tests/grpc_build.rs"

[features]
default = []

full = ["gen-tonic", "gen-grpcio", "trace", "logs", "metrics", "zpages", "with-serde"]

# crates used to generate rs files
gen-tonic = ["gen-tonic-messages", "tonic/transport"]
gen-tonic-messages = ["tonic", "prost"]
gen-grpcio = ["gen-grpcio-messages", "grpcio"]
gen-grpcio-messages = ["prost"]

# telemetry pillars and functions
trace = ["opentelemetry/trace", "opentelemetry_sdk/trace"]
metrics = ["opentelemetry/metrics", "opentelemetry_sdk/metrics"]
logs = ["opentelemetry/logs", "opentelemetry_sdk/logs"]
zpages = ["trace"]

# add ons
with-serde = ["serde"]

[dependencies]
grpcio = { version = "0.12", optional = true, features = ["prost-codec"] }
tonic = { version = "0.9.0", default-features = false, optional = true, features = ["codegen", "prost"] }
prost = { version = "0.11.0", optional = true }
opentelemetry = { version = "0.21", default-features = false, path = "../opentelemetry" }
opentelemetry_sdk = { version = "0.20", default-features = false, path = "../opentelemetry-sdk" }
serde = { version = "1.0", optional = true, features = ["serde_derive"] }

[dev-dependencies]
grpcio-compiler = { version = "0.12.1", default-features = false, features = ["prost-codec"] }
tonic-build = { version = "0.9.0" }
prost-build = { version = "0.11.1" }
tempfile = "3.3.0"
