[submodule "opentelemetry-otlp/src/proto/opentelemetry-proto"]
	path = opentelemetry-otlp/src/proto/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
[submodule "proto/googleapis"]
	path = opentelemetry-stackdriver/proto/googleapis
	url = https://github.com/googleapis/googleapis/
	shallow = true
