[workspace]
members = [
    "opentelemetry",
    "opentelemetry-contrib",
    "opentelemetry-datadog",
    "opentelemetry-http",
    "opentelemetry-jaeger",
    "opentelemetry-otlp",
    "opentelemetry-prometheus",
    "opentelemetry-aws",
    "opentelemetry-semantic-conventions",
    "opentelemetry-stackdriver",
    "opentelemetry-zipkin",
    "examples/actix-http",
    "examples/actix-http-tracing",
    "examples/actix-udp",
    "examples/async",
    "examples/aws-xray",
    "examples/basic",
    "examples/basic-otlp",
    "examples/basic-otlp-with-selector",
    "examples/basic-otlp-http",
    "examples/datadog",
    "examples/external-otlp-tonic-tokio",
    "examples/grpc",
    "examples/http",
    "examples/tracing-grpc",
    "examples/zipkin",
]
exclude = ["examples/external-otlp-grpcio-async-std"]
