[package]
name = "opentelemetry"
version = "0.9.1"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "A metrics collection and distributed tracing framework"
homepage = "https://github.com/open-telemetry/opentelemetry-rust"
repository = "https://github.com/open-telemetry/opentelemetry-rust"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "api-bindings",
    "asynchronous",
]
keywords = ["opentelemetry", "logging", "tracing", "metrics", "async"]
license = "Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[dependencies]
async-std = { version = "1.6", features = ["unstable"], optional = true }
async-trait = { version = "0.1", optional = true }
base64 = { version = "0.13", optional = true }
bincode = { version = "1.2", optional = true }
dashmap = { version = "4.0.0-rc6", optional = true }
fnv = { version = "1.0", optional = true }
futures = "0.3"
lazy_static = "1.4"
percent-encoding = "2.0"
pin-project = { version = "0.4", optional = true }
rand = { version = "0.7", optional = true }
regex = "1.3.9"
serde = { version = "1.0", features = ["derive", "rc"], optional = true }
http = { version = "0.2", optional = true }
thiserror = { version = "1.0", optional = true }
tokio = { version = "0.2", features = ["rt-core", "blocking", "time", "stream"], optional = true }
tonic = { version = "0.3", optional = true }
reqwest = { version = "0.10", features = ["blocking"], optional = true }
surf = { version = "2.0", optional = true }

[dev-dependencies]
criterion = "0.3.1"
rand_distr = "0.3.0"
tokio = { version = "0.2", features = ["full"] }

[features]
default = ["trace"]
base64_format = ["base64", "binary_propagator"]
trace = ["rand", "pin-project", "async-trait"]
metrics = ["thiserror", "dashmap", "fnv"]
serialize = ["serde", "bincode"]
binary_propagator = []

[workspace]
members = [
    "opentelemetry-contrib",
    "opentelemetry-jaeger",
    "opentelemetry-otlp",
    "opentelemetry-prometheus",
    "opentelemetry-semantic-conventions",
    "opentelemetry-zipkin",
    "examples/actix-udp",
    "examples/actix-http",
    "examples/async",
    "examples/aws-xray",
    "examples/basic",
    "examples/basic-otlp",
    "examples/datadog",
    "examples/grpc",
    "examples/http",
    "examples/zipkin",
    "examples/tracing-grpc"
]

[[bench]]
name = "trace"
harness = false

[[bench]]
name = "metric"
harness = false

[[bench]]
name = "ddsketch"
harness = false
