[package]
name = "opentelemetry"
version = "0.6.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "A metrics collection and distributed tracing framework"
homepage = "https://github.com/open-telemetry/opentelemetry-rust"
repository = "https://github.com/open-telemetry/opentelemetry-rust"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "logging", "tracing", "metrics", "async"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
base64 = { version = "0.12", optional = true }
bincode = { version = "1.2", optional = true }
flurry = { version = "0.3", optional = true }
futures = "0.3"
lazy_static = "1.4"
percent-encoding = "2.0"
pin-project = { version = "0.4", optional = true }
rand = { version = "0.7", optional = true }
serde = { version = "1.0", features = ["derive", "rc"], optional = true }
http = { version = "0.2", optional = true }
thiserror = { version = "1.0", optional = true }
tonic = { version = "0.2.1", optional = true }

[dev-dependencies]
criterion = "0.3.1"
tokio = { version = "0.2", features = ["full"] }

[features]
default = ["metrics", "trace"]
base64_format = ["base64", "binary_propagator"]
trace = ["rand", "pin-project"]
metrics = ["thiserror", "flurry"]
serialize = ["serde", "bincode"]
binary_propagator = []

[workspace]
members = [
    "opentelemetry-jaeger",
    "opentelemetry-prometheus",
    "opentelemetry-zipkin",
    "examples/actix-udp",
    "examples/actix-http",
    "examples/async",
    "examples/basic",
    "examples/grpc",
    "examples/http",
    "examples/zipkin",
    "examples/tracing-grpc"
]

[[bench]]
name = "trace"
harness = false
