[package]
name = "opentelemetry"
version = "0.3.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "A metrics collection and distributed tracing framework"
homepage = "https://github.com/open-telemetry/opentelemetry-rust"
repository = "https://github.com/open-telemetry/opentelemetry-rust"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "logging", "tracing", "metrics", "async"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
base64 = { version = "0.12", optional = true }
futures = { version = "0.3.4", optional = true }
lazy_static = "1.4.0"
pin-project = { version = "0.4.6", optional = true }
prometheus = { version = "0.7.0", optional = true }
rand = { version = "0.7.2", optional = true }
serde = { version = "1.0.104", features = ["derive"], optional = true }
bincode = { version = "1.2.1", optional = true }

[dev-dependencies]
criterion = "0.3.1"
hyper = "0.12.0"
opentelemetry-jaeger = { version = "0.2.0", path = "opentelemetry-jaeger" }
thrift = "0.13.0"
tokio = { version = "0.2.10", features = ["full"] }

[features]
default = ["metrics", "trace"]
base64_format = ["base64"]
trace = ["futures", "rand", "pin-project"]
metrics = ["prometheus"]
serialize = ["serde", "bincode"]

[workspace]
members = [
    "opentelemetry-jaeger",
    "opentelemetry-zipkin",
    "examples/actix",
]

[[bench]]
name = "trace"
harness = false
