[workspace]
members = [
    "opentelemetry",
    "opentelemetry-http",
    "opentelemetry-jaeger",
    "opentelemetry-jaeger/examples/actix-udp",
    "opentelemetry-jaeger/examples/remote-sampler",
    "opentelemetry-jaeger-propagator",
    "opentelemetry-appender-log",
    "opentelemetry-appender-tracing",
    "opentelemetry-otlp",
    "opentelemetry-prometheus",
    "opentelemetry-proto",
    "opentelemetry-sdk",
    "opentelemetry-semantic-conventions",
    "opentelemetry-stdout",
    "opentelemetry-zipkin",
    "opentelemetry-otlp/examples/basic-otlp",
    "opentelemetry-otlp/examples/basic-otlp-http",
    "opentelemetry-otlp/tests/integration_test",
    "examples/metrics-basic",
    "examples/metrics-advanced",
    "examples/logs-basic",
    "examples/tracing-grpc",
    "examples/tracing-http-propagator",
    "examples/tracing-jaeger",
    "stress",
]
resolver = "2"

[profile.bench]
# https://doc.rust-lang.org/cargo/reference/profiles.html#bench
# See function names in profiling reports.
# 2/true is too much, 0 is not enough, 1 is just right for back traces
debug = 1

[workspace.dependencies]
async-std = "1.10"
async-trait = "0.1"
bytes = "1"
env_logger = "0.10" # env_logger requires a newer MSRV
futures-core = "0.3"
futures-executor = "0.3"
futures-util = "0.3"
hyper = "0.14"
http = "0.2"
isahc = "1.4"
log = "0.4"
once_cell = "1.13"
ordered-float = "4.0"
pin-project-lite = "0.2"
prost = "0.11"
rand = "0.8"
reqwest = "0.11"
serde = "1.0"
serde_json = "1.0"
surf = "2.0"
temp-env = "0.3.6"
thiserror = "1"
tonic = "0.9"
tokio = "1"
tokio-stream = "0.1.1"
tracing = "0.1"
tracing-core = "0.1"
tracing-subscriber = "0.3"
url = "2.2"
