[workspace]
members = [
    "opentelemetry",
    "opentelemetry-api",
    "opentelemetry-aws",
    "opentelemetry-contrib",
    "opentelemetry-datadog",
    "opentelemetry-dynatrace",
    "opentelemetry-http",
    "opentelemetry-jaeger",
    "opentelemetry-otlp",
    "opentelemetry-prometheus",
    "opentelemetry-proto",
    "opentelemetry-sdk",
    "opentelemetry-semantic-conventions",
    "opentelemetry-stackdriver",
    "opentelemetry-zipkin",
    "opentelemetry-zpages",
    "examples/actix-http",
    "examples/actix-http-tracing",
    "examples/actix-udp",
    "examples/async",
    "examples/aws-xray",
    "examples/basic",
    "examples/basic-otlp",
    "examples/basic-otlp-with-selector",
    "examples/basic-otlp-http",
    "examples/datadog",
    "examples/dynatrace",
    "examples/external-otlp-tonic-tokio",
    "examples/grpc",
    "examples/http",
    "examples/hyper-prometheus",
    "examples/tracing-grpc",
    "examples/jaeger-remote-sampler",
    "examples/zipkin",
    "examples/multiple-span-processors",
    "examples/zpages"
]
exclude = ["examples/external-otlp-grpcio-async-std"]

[profile.release]
debug = true