[package]
name = "tracing-grpc"
version = "0.1.0"
edition = "2018"

[[bin]] # Bin to run the gRPC server
name = "grpc-server"
path = "src/server.rs"

[[bin]] # Bin to run the gRPC client
name = "grpc-client"
path = "src/client.rs"

[dependencies]
http = "0.2"
tonic = "0.2.0"
prost = "0.6"
tokio = { version = "0.2", features = ["full"] }
opentelemetry = { version = "0.8", features = ["tonic"] }
opentelemetry-jaeger = "0.7" 
tracing = "0.1"
tracing-subscriber = "0.2"
tracing-opentelemetry = "0.7"
tracing-futures = "0.2"

[build-dependencies]
tonic-build = "0.3.0"
