[package]
name = "opentelemetry-jaeger"
version = "0.7.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Jaeger exporter for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-jaeger"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-jaeger"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "jaeger", "tracing", "async"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
async-trait = "0.1"
opentelemetry = { version = "0.8", default-features = false, features = ["trace"], path = ".." }
ureq = { version = "1.4", optional = true }
thrift = "0.13"

[features]
default = []
collector_client = ["ureq"]
