[package]
name = "opentelemetry-jaeger"
version = "0.10.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Jaeger exporter for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-jaeger"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-jaeger"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "asynchronous",
]
keywords = ["opentelemetry", "jaeger", "tracing", "async"]
license = "Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
async-std = { version = "1.6", optional = true }
async-trait = "0.1"
base64 = { version = "0.13", optional = true }
futures-util = { version = "0.3", optional = true }
http = { version = "0.2", optional = true }
isahc = { version = "0.9", default-features = false, optional = true }
js-sys = { version = "0.3", optional = true }
opentelemetry = { version = "0.11", default-features = false, features = ["trace"], path = "../opentelemetry" }
pin-project = { version = "1.0", optional = true }
thrift = "0.13"
tokio = { version = "0.2", features = ["udp", "sync"], optional = true }
wasm-bindgen = { version = "0.2", optional = true }
wasm-bindgen-futures = { version = "0.4.18", optional = true }
thiserror = "1.0"
lazy_static = "1.4"
reqwest = { version = "0.10", default-features = false, optional = true }
headers = { version = "0.3.2", optional = true }
surf = { version = "2.0", optional = true }

[dev-dependencies]
opentelemetry = { version = "0.11", default-features = false, features = ["trace", "testing"], path = "../opentelemetry" }
futures = "0.3"

[dependencies.web-sys]
version = "0.3.4"
features = [
    'Headers',
    'Request',
    'RequestCredentials',
    'RequestInit',
    'RequestMode',
    'Response',
    'Window',
]
optional = true

[features]
default = []
collector_client = ["http", "opentelemetry/http"]
isahc_collector_client = ["isahc", "collector_client"]
reqwest_blocking_collector_client = ["reqwest/blocking", "collector_client", "headers", "opentelemetry/reqwest"]
reqwest_collector_client = ["reqwest", "collector_client", "headers", "opentelemetry/reqwest"]
surf_collector_client = ["surf", "collector_client", "opentelemetry/surf"]
wasm_collector_client = [
    "base64",
    "futures-util",
    "http",
    "js-sys",
    "pin-project",
    "wasm-bindgen",
    "wasm-bindgen-futures",
    "web-sys",
]
