[package]
name = "opentelemetry-contrib"
version = "0.1.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Rust contrib repo for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-contrib"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-contrib"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
]
keywords = ["opentelemetry", "tracing"]
license = "Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
default = []
datadog = ["indexmap", "rmp", "async-trait"]
reqwest-blocking-client = ["reqwest/blocking", "opentelemetry/reqwest"]
reqwest-client = ["opentelemetry/reqwest"]
surf-client = ["opentelemetry/surf"]

[dependencies]
async-trait = { version = "0.1", optional = true }
indexmap = { version = "1.6", optional = true }
opentelemetry = { version = "0.9", path = "..", features = ["trace", "http"] }
rmp = { version = "0.8", optional = true }
lazy_static = "1.4"
reqwest = { version = "0.10", optional = true }
surf = { version = "2.0", optional = true }
http = "0.2"

[dev-dependencies]
base64 = "0.13"
isahc = "0.9"
