[package]
name = "opentelemetry-contrib"
version = "0.1.0"
authors = ["OpenTelemetry Authors <cncf-opentelemetry-contributors@lists.cncf.io>"]
description = "Rust contrib repo for OpenTelemetry"
homepage = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-contrib"
repository = "https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry-contrib"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
]
keywords = ["opentelemetry","tracing"]
license = "Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
datadog = ["indexmap", "reqwest", "rmp", "async-trait"]

[dependencies]
async-trait = { version = "0.1", optional = true }
indexmap = { version = "1.6.0", optional = true }
opentelemetry = { version = "0.9.0", path = ".." }
reqwest = { version = "0.10", optional = true }
rmp = { version = "0.8", optional = true }
lazy_static = "1.4"

[dev-dependencies]
base64 = "0.12.3"
