[package]
name = "opentelemetry"
version = "0.21.0"
description = "A metrics collection and distributed tracing framework"
homepage = "https://github.com/open-telemetry/opentelemetry-rust"
repository = "https://github.com/open-telemetry/opentelemetry-rust"
readme = "README.md"
categories = [
    "development-tools::debugging",
    "development-tools::profiling",
    "api-bindings",
    "asynchronous",
]
keywords = ["opentelemetry", "logging", "tracing", "metrics", "async"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.64"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
opentelemetry_api = { version = "0.20", path = "../opentelemetry-api" }

[dev-dependencies]
opentelemetry_sdk = { version = "0.20", path = "../opentelemetry-sdk" }
opentelemetry-stdout = { version = "0.1", path = "../opentelemetry-stdout", features = ["trace"] }

[features]
default = ["trace"]
trace = ["opentelemetry_api/trace"]
metrics = ["opentelemetry_api/metrics"]
logs = ["opentelemetry_api/logs"]
logs_level_enabled = ["logs", "opentelemetry_api/logs_level_enabled"]
testing = ["opentelemetry_api/testing"]
