name: integration tests
env:
  CI: true
on:
  pull_request:
    types: [ labeled, synchronize, opened, reopened ]

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ github.event.label.name == 'integration tests' || contains(github.event.pull_request.labels.*.name, 'integration tests') }}
    steps:
      - name: Free disk space
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          df -h
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt
          profile: minimal
      - uses: arduino/setup-protoc@v3
      - name: Run integration tests using docker compose
        run: ./scripts/integration_tests.sh
