name: integration tests
env:
  CI: true
on:
  pull_request:
    types: [ labeled, synchronize, opened, reopened ]

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Free disk space
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/dotnet
          df -h
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@fcf085fcb4b4b8f63f96906cd713eb52181b5ea4 # stable
        with:
          components: rustfmt
      - uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run integration tests
        run: ./scripts/integration_tests.sh
